.copyright {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: #0e7490;
    font-weight: 600;
    text-align: center;
    color: $coolGray-50;
}